
<%= simple_form_for @task do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <div class="day_select">
    <%= f.collection_check_boxes :days, [["Monday", "Monday"],["Tuesday", "Tuesday"], 
        ["Wednesday", "Wednesday"], ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"], ["Sunday", "Sunday"]], :first, :last %>
  </div>
  <%= f.input :start_time, as: :time %>
  <%= f.input :end_time, as: :time %>
    <%= f.submit %>

<% end %>


