<%= render 'tasks/form' %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Days</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    
    <% @tasks.each do |task| %>
      <tr>  
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.day_list %></td>
        <td><%= task.start_time.strftime("%l:%M %P")%> - <%= task.end_time.strftime("%l:%M %P") %></td>
        <td><%= link_to 'Delete', task, method: :delete %></td>
        <td><%= link_to "Edit", edit_task_path(task) %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to "Check In", controller: "tasks", action: "process_checkin", task_id: task.id, id:" ", :class => "fake" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>