.row
  .large-5.columns
    .tasks
      %a{href: "/tasks"}
        %h3 Tasks
    .new-task-btn
      .tiny.success.button.radius 
        %h3 Add New Task
        .icon-plus-sign-alt.icon-2x
    .new-task
      = render 'tasks/form'
    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Days
          %th Time
      %tbody
        - @tasks.each do |task|
          %tr
            %td= task.name
            %td= task.description
            %td= task.day_list
            %td
              = task.start_time.strftime("%l:%M %P")
              \- #{task.end_time.strftime("%l:%M %P")}
            %td= link_to 'Delete', task, method: :delete
            %td= link_to "Edit", edit_task_path(task)
            %td= link_to 'Show', task
            %td= link_to "Check In", controller: "tasks", action: "process_checkin", task_id: task.id, id:" ", :class => "fake"
  .large-5.columns
    %h3 Checkins 
    .checkins
      = calendar do |date|
        = date.day
        
        - @check_ins.each do |check_in|
          - if check_in.start_time.day == date.day
            - if check_in.state == "on_time"
              %li.on_time
                = check_in.task.name
                = check_in.start_time.strftime("%l:%M %P")
            - elsif check_in.state == "missed"
              %li.missed
                = check_in.task.name
                = check_in.start_time.strftime("%l:%M %P")
            - else
              %li.pending
                = check_in.task.name
                = check_in.start_time.strftime("%l:%M %P")