
<div class="show">
  <p>Task:</p>
  <%= @task.name %>

  <p>Description:</p>
  <%= @task.description %>
  
  <p>Start:</p>
  <%= @task.start_time %>
  
  <p>End:</p>
  <%= @task.end_time %>

  <p>Remindable:</p>
  <%= @task.remindable %>
</div>