
<div class="show">
  <p>Task: <%= @task.name %></p>
  <p>Description: <%= @task.description %></p>
  <p>Start:  <%= @task.start_time.strftime("%l:%M %P") %></p>
  <p>End: <%= @task.end_time.strftime("%l:%M %P") %></p>
  <p>Remindable: <%= @task.remindable %></p>
</div>