!!!

%html{lang: "en"}
  
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab", rel: "stylesheet", type: "text/css"}
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .user-nav
      .section-container.vertical-nav{"data-section"=> "vertical-nav", "data-options"=> "one_up: false"}
        .section
          %a.title.icon-cogs.icon-3x 
          %a.logo{href: "/tasks"} Streaker.
          .content
            .side-nav
              - if user_signed_in?
                %li
                  Logged in as
                  = succeed "." do
                    %strong= current_user.email
                %li
                  = link_to 'Edit profile', edit_user_registration_path
                %li
                  = link_to "Logout", destroy_user_session_path, method: :delete
                %li
                  = link_to "Tasks", tasks_path
              - else
                %li
                  = link_to "Sign up", new_user_registration_path
                %li
                  \#{link_to "Login", new_user_session_path}  
    :javascript
      $(".notice").fadeOut(7000);
    = notice
    = alert
    = yield
  